body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.main-cont {
    
    margin: 5px auto;
    border-radius: 15px;
    border: #ccc solid 1px;
    width: 800px;
}

#top-cont {
    display: inline;
    background: #6943FF;
    margin: 0;
    border: none;
    border-radius: 15px 15px 0 0;
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

h1 {
    margin-top: 5px;
}

#number-input {
    -webkit-appearance: none;
    background: #6943FF;
    border: #B295FF solid 2px;
    border-radius: 4px;
    color: white;
    font-weight: 800;
    text-align: center;
    font-size: 58px;
    padding: 10px 5px 10px 20px;
    width: 250px;
    margin-bottom: 15px;
}

button {
    background: white;
    border: none;
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    height: 40px;
    padding: 0 25px;
}

.converted-cont {
    background: #F4F4F4;
    padding: 10px;  
    border-radius: 0px 0px 15px 15px;
}

.result-cont {
    background: white;
    margin: 30px;
    text-align: center;
    padding: 5px;
}

.measurement {
    font-size: 19px; 
    font-weight: 600;
    color: #5A537B;
}

/*SWITCH STYLES */

.switch {
    display: flex;
    position: relative;
    width: 50px;
    height: 28px;
    margin: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1F2937;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1F2937;
}

input:checked + .slider:before {
  transform: translateX(22px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*ULTILITIES*/

.dark-blue {
    background: #1F2937;
}

.blue {
    background: #273549;
}

.light-text {
    color: #CCC1FF;
}

.white {
    color: white;
}